# Traitement de la base Sirene

In [6]:
import os

import pandas as pd

In [44]:
# Déclaration des constantes
DATA_DIR = '../data/external/'
ENTITIES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'

ACTIVITY_CODE = '86.'

### Préparation des entités

In [4]:
# le os.path.join permet de concaténer le repertoire avec le nom du fichier de manière propre.

pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).head()

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [8]:
pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'statutdiffusionunitelegale', 'unitepurgeeunitelegale',
       'datecreationunitelegale', 'sigleunitelegale', 'sexeunitelegale',
       'prenom1unitelegale', 'prenom2unitelegale', 'prenom3unitelegale',
       'prenom4unitelegale', 'prenomusuelunitelegale', 'pseudonymeunitelegale',
       'identifiantassociationunitelegale', 'trancheeffectifsunitelegale',
       'anneeeffectifsunitelegale', 'datederniertraitementunitelegale',
       'nombreperiodesunitelegale', 'categorieentreprise',
       'anneecategorieentreprise', 'datedebut', 'etatadministratifunitelegale',
       'nomunitelegale', 'nomusageunitelegale', 'denominationunitelegale',
       'denominationusuelle1unitelegale', 'denominationusuelle2unitelegale',
       'denominationusuelle3unitelegale', 'categoriejuridiqueunitelegale',
       'activiteprincipaleunitelegale',
       'nomenclatureactiviteprincipaleunitelegale', 'nicsiegeunitelegale',
       'economiesocialesolidaireunitelegale', 'caractereemployeurunitelegale'],
      dtype='object')

In [ ]:
pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           )['activiteprincipaleunitelegale'].value_counts()

In [26]:
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale'])
               
(entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.
 ['activiteprincipaleunitelegale']
 .value_counts()  # permet d'afficher le nombre d'occurrence de toutes les valeurs commençant par 86. 
)

86.06     4
86.04     3
86.10Z    1
86.09     1
86.11     1
Name: activiteprincipaleunitelegale, dtype: int64

In [40]:
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           usecols=['activiteprincipaleunitelegale','datecreationunitelegale','denominationunitelegale','nomunitelegale','etatadministratifunitelegale',],             
           compression = 'zip',
           #nrows = 100000 # Limite à 1000 lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"') # A si actif, F si fermé. Ici on cherche les actives.
               
(entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.
 ['activiteprincipaleunitelegale']
 .value_counts()
)

86.90D    125708
86.90E    119717
86.21Z     86603
86.90F     72229
86.22C     44364
86.23Z     43190
86.90A      6845
86.22A      5778
86.22B      5643
86.10Z      3201
86.90B      3030
86.06        463
86.08        299
86.02        219
86.10        175
86.07        170
86.90C       146
86.01        118
86.12         51
86.09         32
86.05         31
86.04         27
86.03          7
86.11          6
Name: activiteprincipaleunitelegale, dtype: int64

In [41]:
entities_df.shape

(11696143, 5)

In [38]:
# Lorsque denominationunitelegale est nul, nomunitelegale est présent, et vice-versa
entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum() == entities_df.shape[0]

False

In [39]:
entities_df.shape[0] - (entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum())

-557

In [42]:
20193952 - 11696143

8497809

#### Création du DF Entities

In [85]:
%%time
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           usecols=['siren','activiteprincipaleunitelegale',
                    'datecreationunitelegale','denominationunitelegale',
                    'nomunitelegale','etatadministratifunitelegale',],             
           compression = 'zip',
           #nrows = 1000000 # Limite à n lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"') # A si actif, F si fermé. Ici on cherche les actives.
               

# Filtrage des professionnels de santé
#entities_df = entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

<string>:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 44.6 s

In [87]:
entities_df.shape

(11696143, 6)

### Etablissement

In [48]:
pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'nic', 'siret', 'statutdiffusionetablissement',
       'datecreationetablissement', 'trancheeffectifsetablissement',
       'anneeeffectifsetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'datederniertraitementetablissement', 'etablissementsiege',
       'nombreperiodesetablissement', 'complementadresseetablissement',
       'numerovoieetablissement', 'indicerepetitionetablissement',
       'typevoieetablissement', 'libellevoieetablissement',
       'codepostaletablissement', 'libellecommuneetablissement',
       'libellecommuneetrangeretablissement',
       'distributionspecialeetablissement', 'codecommuneetablissement',
       'codecedexetablissement', 'libellecedexetablissement',
       'codepaysetrangeretablissement', 'libellepaysetrangeretablissement',
       'complementadresse2etablissement', 'numerovoie2etablissement',
       'indicerepetition2etablissement', 'typevoie2etablissement',
       'libellevoie2etablissement', 'codepostal2etablissement',
       'libellecommune2etablissement', 'libellecommuneetranger2etablissement',
       'distributionspeciale2etablissement', 'codecommune2etablissement',
       'codecedex2etablissement', 'libellecedex2etablissement',
       'codepaysetranger2etablissement', 'libellepaysetranger2etablissement',
       'datedebut', 'etatadministratifetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'caractereemployeuretablissement'],
      dtype='object')

In [ ]:
pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).head()

### Création du DF Etab

In [86]:
%%time
etab_df = (pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           usecols=['siren','activiteprincipaleetablissement',
                    'datecreationetablissement','denominationusuelleetablissement',
                    'etatadministratifetablissement','codepostaletablissement',
                    'libellecommuneetablissement','codecommuneetablissement','enseigne1etablissement',],             
           compression = 'zip',
           #nrows = 100000 # Limite à n lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"') # A si actif, F si fermé. Ici on cherche les actives.

# Filtrage des professionnels de santé
#etab_df = etab_df[etab_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

<string>:2: DtypeWarning: Columns (20,41,44) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 1min 28s

In [88]:
etab_df.shape

(11233968, 9)

In [59]:
etab_df.head(8)

,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,denominationusuelleetablissement,activiteprincipaleetablissement
892,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,86.10Z
6424,1970-01-01,4510.0,AIGLUN,04001,A,NaN,86.10Z
17575,1971-01-01,21000.0,DIJON,21231,A,NaN,86.10Z
26233,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,86.90B
34605,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,86.23Z
37513,1997-01-27,6600.0,ANTIBES,06004,A,POLE ANTIBES SAINT JEAN,86.10Z
41402,1985-01-01,39100.0,DOLE,39198,A,NaN,86.90B
41851,2004-10-01,64100.0,BAYONNE,64102,A,NaN,86.21Z

### Fusion de deux df sur la clé 'siren'

In [89]:
%%time
process_df = etab_df.merge(entities_df, on='siren', how='left')

Wall time: 10.4 s

In [90]:
process_df.shape

(11233968, 14)

In [97]:
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(23, 14)

In [ ]:
# En lançant cette commande, on voit qu'il y a 7954 entreprises qui n'ont pas d'établissement. Et 8994 établissements de santé qui n'ont pas d'activité de santé.

etab_df.merge(entities_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()

Donc on refait nos deux premières tables, mais en ajoutant un # devant la dernière ligne qui filtrait par l'activité '86.'. On fait ça pous nos deux tables, ce qui va les rendre très grandes, mais normalement supportables par nos ordinateurs.

In [93]:
# Pour voir la taille que prennent les tables
etab_df.memory_usage() # par colonne

857.083740234375

In [94]:
etab_df.memory_usage().sum() # au total

898717440

In [ ]:
etab_df.memory_usage().sum() / (1024*1024) # En Mo

In [96]:
etab_df.memory_usage(deep=True).sum() / (1024*1024) # En Mo, avec le deep = True on a une meilleure idée de ce que ça donne.

4456.694919586182