# Traitement de la base Sirene

In [1]:
import os

import pandas as pd

In [128]:
# Déclaration des constantes
DATA_DIR = '../data/external/'
REFERENCES_DIR = '../references/'
ENTITIES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'
NAF_REF_FILENAME = 'naf86.xlsx'

ACTIVITY_CODE = '86.'

### Préparation des entités

In [3]:
# le os.path.join permet de concaténer le repertoire avec le nom du fichier de manière propre.

pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).head()

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [4]:
pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'statutdiffusionunitelegale', 'unitepurgeeunitelegale',
       'datecreationunitelegale', 'sigleunitelegale', 'sexeunitelegale',
       'prenom1unitelegale', 'prenom2unitelegale', 'prenom3unitelegale',
       'prenom4unitelegale', 'prenomusuelunitelegale', 'pseudonymeunitelegale',
       'identifiantassociationunitelegale', 'trancheeffectifsunitelegale',
       'anneeeffectifsunitelegale', 'datederniertraitementunitelegale',
       'nombreperiodesunitelegale', 'categorieentreprise',
       'anneecategorieentreprise', 'datedebut', 'etatadministratifunitelegale',
       'nomunitelegale', 'nomusageunitelegale', 'denominationunitelegale',
       'denominationusuelle1unitelegale', 'denominationusuelle2unitelegale',
       'denominationusuelle3unitelegale', 'categoriejuridiqueunitelegale',
       'activiteprincipaleunitelegale',
       'nomenclatureactiviteprincipaleunitelegale', 'nicsiegeunitelegale',
       'economiesocialesolidaireunitelegale', 'caractereemployeurunitelegale'],
      dtype='object')

In [5]:
pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           )['activiteprincipaleunitelegale'].value_counts()

00.97     77
81.21     62
62.11     46
70.2C     45
68.20B    41
64.11     40
67.04     34
67.08     26
62.43     25
38.40     23
55.60     14
64.49     13
67.05     13
55.40     12
55.4B     12
52.4C     12
67.01     12
87.03     11
64.22     11
67.07     10
64.42     10
62.44     10
55.73      9
65.06      9
52.1B      8
00.10      8
64.12      8
87.06      7
55.71      7
64.24      7
          ..
96.02A     1
32.12Z     1
01.11Z     1
71.2A      1
85.59A     1
52.4F      1
45.20A     1
58.11      1
22.11Z     1
58.14Z     1
01.43Z     1
67.06      1
20.5A      1
56.10C     1
17.29      1
55.70      1
28.6F      1
57.06      1
47.59A     1
57.04      1
55.2C      1
43.99C     1
62.42      1
35.01      1
36.10      1
70.1C      1
18.2D      1
49.05      1
46.61Z     1
49.01      1
Name: activiteprincipaleunitelegale, Length: 246, dtype: int64

In [6]:
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale'])
               
(entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.
 ['activiteprincipaleunitelegale']
 .value_counts()  # permet d'afficher le nombre d'occurrence de toutes les valeurs commençant par 86. 
)

86.06     4
86.04     3
86.09     1
86.11     1
86.10Z    1
Name: activiteprincipaleunitelegale, dtype: int64

In [7]:
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           usecols=['activiteprincipaleunitelegale','datecreationunitelegale','denominationunitelegale','nomunitelegale','etatadministratifunitelegale',],             
           compression = 'zip',
           #nrows = 100000 # Limite à 1000 lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"') # A si actif, F si fermé. Ici on cherche les actives.
               
(entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.
 ['activiteprincipaleunitelegale']
 .value_counts()
)

C:\Users\p11749553\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

86.90D    125708
86.90E    119717
86.21Z     86603
86.90F     72229
86.22C     44364
86.23Z     43190
86.90A      6845
86.22A      5778
86.22B      5643
86.10Z      3201
86.90B      3030
86.06        463
86.08        299
86.02        219
86.10        175
86.07        170
86.90C       146
86.01        118
86.12         51
86.09         32
86.05         31
86.04         27
86.03          7
86.11          6
Name: activiteprincipaleunitelegale, dtype: int64

In [8]:
entities_df.shape

(11696143, 5)

In [9]:
# Lorsque denominationunitelegale est nul, nomunitelegale est présent, et vice-versa
entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum() == entities_df.shape[0]

False

In [10]:
entities_df.shape[0] - (entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum())

-18

In [11]:
20193952 - 11696143

8497809

#### Création du DF Entities

In [12]:
%%time
entities_df = (pd.read_csv(os.path.join(DATA_DIR,ENTITIES_FILENAME),
           usecols=['siren','activiteprincipaleunitelegale',
                    'datecreationunitelegale','denominationunitelegale',
                    'nomunitelegale','etatadministratifunitelegale',],             
           compression = 'zip',
           #nrows = 1000000 # Limite à n lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"') # A si actif, F si fermé. Ici on cherche les actives.
               

# Filtrage des professionnels de santé
#entities_df = entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

<string>:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 49.9 s

In [13]:
entities_df.shape

(11696143, 6)

### Etablissement

In [14]:
pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'nic', 'siret', 'statutdiffusionetablissement',
       'datecreationetablissement', 'trancheeffectifsetablissement',
       'anneeeffectifsetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'datederniertraitementetablissement', 'etablissementsiege',
       'nombreperiodesetablissement', 'complementadresseetablissement',
       'numerovoieetablissement', 'indicerepetitionetablissement',
       'typevoieetablissement', 'libellevoieetablissement',
       'codepostaletablissement', 'libellecommuneetablissement',
       'libellecommuneetrangeretablissement',
       'distributionspecialeetablissement', 'codecommuneetablissement',
       'codecedexetablissement', 'libellecedexetablissement',
       'codepaysetrangeretablissement', 'libellepaysetrangeretablissement',
       'complementadresse2etablissement', 'numerovoie2etablissement',
       'indicerepetition2etablissement', 'typevoie2etablissement',
       'libellevoie2etablissement', 'codepostal2etablissement',
       'libellecommune2etablissement', 'libellecommuneetranger2etablissement',
       'distributionspeciale2etablissement', 'codecommune2etablissement',
       'codecedex2etablissement', 'libellecedex2etablissement',
       'codepaysetranger2etablissement', 'libellepaysetranger2etablissement',
       'datedebut', 'etatadministratifetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'caractereemployeuretablissement'],
      dtype='object')

In [15]:
pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           compression = 'zip',
           nrows = 1000 # Limite à 1000 lignes la lecture
           ).head()

,siren,nic,siret,statutdiffusionetablissement,datecreationetablissement,trancheeffectifsetablissement,anneeeffectifsetablissement,activiteprincipaleregistremetiersetablissement,datederniertraitementetablissement,etablissementsiege,...,libellepaysetranger2etablissement,datedebut,etatadministratifetablissement,enseigne1etablissement,enseigne2etablissement,enseigne3etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,nomenclatureactiviteprincipaleetablissement,caractereemployeuretablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

### Création du DF Etab

In [16]:
%%time
etab_df = (pd.read_csv(os.path.join(DATA_DIR,ETAB_FILENAME),
           usecols=['siren','activiteprincipaleetablissement',
                    'datecreationetablissement','denominationusuelleetablissement',
                    'etatadministratifetablissement','codepostaletablissement',
                    'libellecommuneetablissement','codecommuneetablissement','enseigne1etablissement',],             
           compression = 'zip',
           #nrows = 100000 # Limite à n lignes la lecture
           )
        ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"') # A si actif, F si fermé. Ici on cherche les actives.

# Filtrage des professionnels de santé
#etab_df = etab_df[etab_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

<string>:2: DtypeWarning: Columns (20,41,44) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 1min 47s

In [17]:
etab_df.shape

(11233968, 9)

In [18]:
etab_df.head(8)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement
5,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z
48,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B
56,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z
57,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B
58,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z
59,5420120,1900-01-01,62180.0,CONCHIL LE TEMPLE,62233,A,NaN,NaN,46.75Z
71,5440110,1995-10-01,4000.0,DIGNE-LES-BAINS,04070,A,NaN,NaN,68.20B
79,5440565,1954-01-01,4200.0,SISTERON,04209,A,NaN,NaN,68.20B

### Fusion de deux df sur la clé 'siren'

In [19]:
%%time
process_df = etab_df.merge(entities_df, on='siren', how='left')

Wall time: 8.76 s

In [20]:
process_df.shape

(11233968, 14)

In [21]:
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(23, 14)

In [22]:
# En lançant cette commande, on voit qu'il y a 7954 entreprises qui n'ont pas d'établissement. Et 8994 établissements de santé qui n'ont pas d'activité de santé.

etab_df.merge(entities_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()

both          11233945
right_only     1622950
left_only           23
Name: _merge, dtype: int64

Donc on refait nos deux premières tables, mais en ajoutant un # devant la dernière ligne qui filtrait par l'activité '86.'. On fait ça pous nos deux tables, ce qui va les rendre très grandes, mais normalement supportables par nos ordinateurs.

In [23]:
# Pour voir la taille que prennent les tables
etab_df.memory_usage() # par colonne

Index                               89871744
siren                               89871744
datecreationetablissement           89871744
codepostaletablissement             89871744
libellecommuneetablissement         89871744
codecommuneetablissement            89871744
etatadministratifetablissement      89871744
enseigne1etablissement              89871744
denominationusuelleetablissement    89871744
activiteprincipaleetablissement     89871744
dtype: int64

In [24]:
etab_df.memory_usage().sum() # au total

898717440

In [25]:
etab_df.memory_usage().sum() / (1024*1024) # En Mo

857.083740234375

In [26]:
etab_df.memory_usage(deep=True).sum() / (1024*1024) # En Mo, avec le deep = True on a une meilleure idée de ce que ça donne.

4456.694915771484

In [31]:
process_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
0,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z,2000-09-26,A,JANOYER,NaN,32.12Z
1,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B
2,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z
3,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z
4,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z

In [32]:
process_df.shape

(11233968, 14)

## Exploration du df

In [67]:
process2_df = process_df

### Création d'un DF quand activiteprincipaleetablissement comment par "86."

In [68]:
medical_activities_etab_df = process2_df[process2_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

In [72]:
medical_activities_entities_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
58,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z
416,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z
5115,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z
12308,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B
14190,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z

### Création d'un DF quand activiteprincipaleunitelegale comment par "86."

In [69]:
medical_activities_entities_df = process2_df[process2_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # ACTIVITY_CODE = 86.

In [73]:
medical_activities_entities_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
58,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z
416,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z
5115,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z
12308,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B
14190,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z

In [70]:
medical_activities_entities_df.shape

(573744, 14)

In [71]:
medical_activities_etab_df.shape

(560103, 14)

### Création d'un crosstabs

In [81]:
pd.crosstab(medical_activities_entities_df.activiteprincipaleunitelegale, medical_activities_etab_df.activiteprincipaleetablissement, margins=True)

activiteprincipaleetablissement,86.10Z,86.21Z,86.22A,86.22B,86.22C,86.23Z,86.90A,86.90B,86.90C,86.90D,86.90E,86.90F,All
activiteprincipaleunitelegale,,,,,,,,,,,,,
86.10Z,8736,312,11,4,17,9,35,15,14,322,4,9,9488
86.21Z,12,88879,207,97,634,4,0,10,0,15,12,22,89892
86.22A,8,202,7618,0,216,0,0,3,0,2,0,1,8050
86.22B,2,68,0,6410,186,16,0,0,0,1,0,0,6683
86.22C,1,423,100,106,47899,7,0,24,0,5,2,9,48576
86.23Z,0,15,0,6,12,44336,0,0,0,4,1,2,44376
86.90A,0,0,0,0,0,0,7866,0,0,0,0,3,7869
86.90B,0,6,0,0,10,0,0,6450,0,3,1,8,6478
86.90C,0,6,0,0,0,0,1,1,422,0,0,0,430
86.90D,6,19,1,0,1,1,1,3,0,127363,158,251,127804
86.90E,1,9,0,0,2,1,0,0,0,85,128853,169,129120
86.90F,0,10,0,1,8,0,0,0,0,61,349,72954,73383
All,8766,89949,7937,6624,48985,44374,7903,6506,436,127861,129380,73428,552149

In [118]:
#%%dpaste
# Création d'une cross table avec une seule ligne
# Remplacer "process_df" par "merged_df" ou le nom choisi pour désigner le DF créé à partir de l'outer join.

pd.crosstab((process_df[process_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)]).activiteprincipaleunitelegale,
            (process_df[process_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)]).activiteprincipaleetablissement
           )

activiteprincipaleetablissement,86.10Z,86.21Z,86.22A,86.22B,86.22C,86.23Z,86.90A,86.90B,86.90C,86.90D,86.90E,86.90F
activiteprincipaleunitelegale,,,,,,,,,,,,
86.10Z,8736,312,11,4,17,9,35,15,14,322,4,9
86.21Z,12,88879,207,97,634,4,0,10,0,15,12,22
86.22A,8,202,7618,0,216,0,0,3,0,2,0,1
86.22B,2,68,0,6410,186,16,0,0,0,1,0,0
86.22C,1,423,100,106,47899,7,0,24,0,5,2,9
86.23Z,0,15,0,6,12,44336,0,0,0,4,1,2
86.90A,0,0,0,0,0,0,7866,0,0,0,0,3
86.90B,0,6,0,0,10,0,0,6450,0,3,1,8
86.90C,0,6,0,0,0,0,1,1,422,0,0,0
86.90D,6,19,1,0,1,1,1,3,0,127363,158,251
86.90E,1,9,0,0,2,1,0,0,0,85,128853,169
86.90F,0,10,0,1,8,0,0,0,0,61,349,72954

### Retour au code propre

Crée un df qui prend toutes les activités ou les établissements dont le code commence par "86.", puis créé trois colonnes.
La première et la seconde sont les deux premiers caractères des codes établissement ou activité.
Le troisième est la concaténation des deux avec un "_".

In [91]:
ps_df = (process_df.loc[process_df.activiteprincipaleunitelegale.str.startswith("86.") |
            process_df.activiteprincipaleetablissement.str.startswith("86.")]
         .assign(etab_ape_l1 = lambda df: df.activiteprincipaleetablissement.str.slice(0, 2))
         .assign(el_ape_l1 = lambda df: df.activiteprincipaleunitelegale.str.slice(0, 2))
         .assign(cross_l1 = lambda df: df.el_ape_l1 + '_' + df.etab_ape_l1)
        )

In [139]:
ps_df.cross_l1.value_counts(normalize=True).head()

86_86    0.949202
86_68    0.017824
84_86    0.005977
86_87    0.003883
86_88    0.002489
Name: cross_l1, dtype: float64

In [138]:
ps_df.cross_l1.value_counts()

86_86    552149
86_68     10368
84_86      3477
86_87      2259
86_88      1448
86_70      1405
86_01      1336
88_86       944
65_86       772
86_47       761
86_85       733
86_66       617
86_96       408
86_90       357
87_86       352
86_55       342
01_86       332
68_86       313
86_49       302
47_86       257
86_02       242
85_86       214
96_86       207
94_86       205
86_35       180
70_86       149
90_86       116
86_74        89
86_82        87
49_86        85
          ...
86_73         3
86_65         2
86_91         2
33_86         2
13_86         2
86_00         2
41_86         2
79_86         2
86_15         2
71_86         2
86_38         2
28_86         1
86_11         1
86_22         1
86_61         1
11_86         1
14_86         1
86_27         1
86_80         1
05_86         1
86_08         1
86_29         1
31_86         1
15_86         1
21_86         1
78_86         1
86_25         1
50_86         1
86_18         1
86_79         1
Name: cross_l1, Length: 121, dtype: int64

In [140]:
ps_df.cross_l1.value_counts(normalize=True).head()

86_86    0.949202
86_68    0.017824
84_86    0.005977
86_87    0.003883
86_88    0.002489
Name: cross_l1, dtype: float64

In [98]:
# %load https://dpaste.de/SWEe/raw
ps_df = (merged_df.loc[merged_df.activiteprincipaleunitelegale.str.startswith("86.") |
                      merged_df.activiteprincipaleetablissement.str.startswith("86.")]
         .assign(etab_ape_l1 = lambda df: df.activiteprincipaleetablissement.str.slice(0, 2))
         .assign(el_ape_l1 = lambda x: x.activiteprincipaleunitelegale.str.slice(0, 2))
         .assign(cross_l1 = lambda df: df.el_ape_l1 + '_' + df.etab_ape_l1)
        )
merged_df = (etab_df.merge(entities_df, on='siren', how='outer', indicator=True)

In [121]:
# Ligne du prof pour faire le tableau croisé :

pd.crosstab(ps_df.query('cross_l1 == "86_86"').activiteprincipaleunitelegale,
            ps_df.query('cross_l1 == "86_86"').activiteprincipaleetablissement)

activiteprincipaleetablissement,86.10Z,86.21Z,86.22A,86.22B,86.22C,86.23Z,86.90A,86.90B,86.90C,86.90D,86.90E,86.90F
activiteprincipaleunitelegale,,,,,,,,,,,,
86.10Z,8736,312,11,4,17,9,35,15,14,322,4,9
86.21Z,12,88879,207,97,634,4,0,10,0,15,12,22
86.22A,8,202,7618,0,216,0,0,3,0,2,0,1
86.22B,2,68,0,6410,186,16,0,0,0,1,0,0
86.22C,1,423,100,106,47899,7,0,24,0,5,2,9
86.23Z,0,15,0,6,12,44336,0,0,0,4,1,2
86.90A,0,0,0,0,0,0,7866,0,0,0,0,3
86.90B,0,6,0,0,10,0,0,6450,0,3,1,8
86.90C,0,6,0,0,0,0,1,1,422,0,0,0
86.90D,6,19,1,0,1,1,1,3,0,127363,158,251
86.90E,1,9,0,0,2,1,0,0,0,85,128853,169
86.90F,0,10,0,1,8,0,0,0,0,61,349,72954

### Préparation de la table des codes NAF

In [122]:
# On télécharge ce fichier :
# https://www.insee.fr/fr/information/2120875

In [135]:
# On peut utiliser ce code pour lire depuis le clipboard
naf_df = pd.read_clipboard()

In [137]:
naf_df.head(50)

,NAF,Libellé,Catégorie
0,86.10Z,Activités hospitalières,hopital
1,86.21Z,Activité des médecins généralistes,generaliste
2,86.22A,Activités de radiodiagnostic et de radiothérapie,radiologiste
3,86.22B,Activités chirurgicales,chirurgien
4,86.22C,Autres activités des médecins spécialistes,autre_specialiste
5,86.23Z,Pratique dentaire,dentiste
6,86.90A,Ambulances,ambulance
7,86.90B,Laboratoires d'analyses médicales,analyse_medicale
8,86.90C,Centres de collecte et banques d'organes,organe
9,86.90D,Activités des infirmiers et des sages-femmes,infirmiers
10,86.90E,Activités des professionnels de la rééducation...,reeducateur_podologue
11,86.90F,Activités de santé humaine non classées ailleurs,autre

In [136]:
naf_df.to_excel(os.path.join(REFERENCES_DIR,NAF_REF_FILENAME))